# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
init = ->
	navigator.geolocation.getCurrentPosition (position, onError) ->
		postData(position.coords.latitude, position.coords.longitude)

	postData = (lat, lng) ->
		$.ajax({
			url: "/gravure/get_json",
			data: 'lat=' + lat + '&lng=' + lng,
			success: (CastData, status) -> showCasts CastData
			error: (xhr,  status, error) -> alert status
			})

		showCasts = (CastData) ->
			$('#geoCasts').empty()
			for obj in CastData
				imgUri = "/cast_photo/" + obj["id"].toString()
				$('#geoCasts').append(
					$('<li></li>').append(
						$('<img>').attr('src', imgUri, "width":"100%")
						)
					)


$(document).ready(init)
# $(document).on('page:change', init)